* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    width: -webkit-fill-available;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
    min-height: 100vh;
    min-width: 100vw;
    width: -webkit-fill-available;
}

/* NAV */

nav {
    width: 100%;
    margin: auto;
    display: flex;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: rgba(0, 0, 0, 0.83);
    z-index: 5;
}

.navbar {
    overflow: hidden;
}

.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown .dropbtn .kebawah {
    width: 130px;
    padding-top: 4px;
    cursor: pointer;
}

.dropdown .dropbtn .kebawah:hover {
    background-color: #424242;
    transition: all .2s ease-in-out;
}

.dropdown .dropbtn .kebawah img {
    width: 40px;
    align-content: center;
    margin: 0;
    padding-top: 2.5px;
    padding-bottom: 2px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    width: 130px;
    background-color: rgba(0, 0, 0, 0.83);
    float: none;
    color: white;
    padding: 16px 0;
    letter-spacing: 0.8px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #424242;
    transition: all .2s ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.kembali  {
    display: flex;
    height: 2.5em;
    width: 100px;
    margin: 10px 5px 5px auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    letter-spacing: 1.2px;
    transition: all 0.12s linear;
    cursor: pointer;
    border: none;
    background: #fff;
    box-shadow: -0.1px 0px 10px rgba(196, 196, 196, 0.81);
}

.kembali:hover {
    transform: translateX(-5px);
    box-shadow: -0.1px 0px 10px rgba(196, 196, 196, 0.81), -3.2px 0px 10px rgba(196, 196, 196, 0.91);
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 background: transparent;
 padding: 0;
 font-size: inherit;
 font-family: inherit;
}

button.learn-more {
 width: 12rem;
 height: auto;
}

button.learn-more .circle {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: relative;
 display: block;
 margin: 0;
 width: 3rem;
 height: 3rem;
 background: #282936;
 border-radius: 1.625rem;
}

button.learn-more .circle .icon {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 bottom: 0;
 margin: auto;
 background: #fff;
}

button.learn-more .circle .icon.arrow {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 left: 0.625rem;
 width: 1.125rem;
 height: 0.125rem;
 background: none;
}

button.learn-more .circle .icon.arrow::before {
 position: absolute;
 content: "";
 top: -0.29rem;
 right: 0.0625rem;
 width: 0.625rem;
 height: 0.625rem;
 border-top: 0.125rem solid #fff;
 border-right: 0.125rem solid #fff;
 transform: rotate(45deg);
}

button.learn-more .button-text {
 transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 padding: 0.75rem 0;
 margin: 0 0 0 1.85rem;
 color: #282936;
 font-weight: 700;
 line-height: 1.6;
 text-align: center;
 text-transform: uppercase;
}

button:hover .circle {
 width: 100%;
}

button:hover .circle .icon.arrow {
 background: #fff;
 transform: translate(1rem, 0);
}

button:hover .button-text {
 color: #fff;
}

.utama {
    width: 100%;
    height: calc(100vh - 59px);
    background-image: url(witho.jpg);
    background-position: center;
}

.utama h2 {
    top: calc(50% - 60px);
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #212121;
    position: relative;
    max-width: 75%;
    width: 550px;
    padding: 15px 0;
    font-family: sans-serif;
    color: #212121;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 3.1em;
    box-shadow: -0px 3px 10px 0px #B0B0B0;
}

.utama p {
    top: calc(50% - 82px);
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    max-width: 75%;
    width: 85%;
    padding: 15px 0;
    font-family: sans-serif;
    color: #212121;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    font-size: 1.15em;
    text-align: center;
}


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.wrappernav {
    width: 1100px;
    margin: auto;
    position: relative;
}


.video {
    align-content: center;
    width: 100%;
}

.wrapper video {
    align-content: center;
    width: 100%;
    border: 6px solid black;
    
}

.container {
    width: 1100px;
    margin: 0 auto;
    max-width: calc(100% - 50px);
}

img {
    margin: auto;
    width: 1110px;
    margin-top: 15px;
}

.logo a {
    font-size: 45px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: white;
}

.logo img {
    width: 150px
}

.menu {
    float: right;
}

#top {
    background-color: #F0F0F0;
    padding: 2.5em 0 2.5em 0;
    text-align: left;
    box-shadow: -0px 2px 10px 0px gray;
}

#top2 {
    padding: 3em 0 3em 0;
    text-align: left;
    box-shadow: -0px 2px 10px 0px #adadad;
    padding-bottom: 25px;
    padding-top: 25px;
}

#artabout {
    background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
    text-align: left;
    box-shadow: 0px 1px 10px 0px gray inset;
}

.row h3 {
    font-size: 50px;
    line-height: 25px;
    color: black;
    margin-top: 25px;
    font-family: "Segoe UI",Arial,sans-serif;
}

.row > .col1 {
    width: 33%;
}

.row > .col1 img {
    width: 90%;
}

.row > .col2 {
    width: 66%;
    padding-top: 20px;
}

.row > .col2 > h2 {
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col2 > h3 {
    font-size: 50px;
    text-align: left;
    color: black;
    margin-top: 50px;
}

.row > .col2 > p {
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > .col3 {
    width: 50%;
}

.row > .col3 img {
    width: 95%;
}

.row > .col4 {
    width: 50%;
    padding-top: 5px;
}

.row > .col4  h2 {
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col4  h3 {
    font-size: 50px;
    text-align: left;
    color: black;
    margin-top: 50px;
}

.row > .col4  p {
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col5 {
    width: 33%;
}

.row > .col6 {
    width: 33%;
}

.row > .col7 {
    width: 33%;
}

.row > .col5 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col6 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col7 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col5 button p{
    font-size: 15px;
    margin: 0;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col6 button p{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col7 button p{
    font-size: 15px;
    margin: 0;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col5 button {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col5 button:hover {
    top: -15px;
    width: 96%;
}

.row > .col6 button:hover {
    top: -15px;
    width: 101%;
}

.row > .col7 button:hover {
    top: -15px;
    width: 96%;
}

.row > .col6 button {
    width: 100%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col7 button {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col5 img {
    width: 100%;
}

.row > .col6 img {
    width: 100%;
}

.row > .col7 img {
    width: 100%;
}

.row > .colpesan {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.row > .colpesan img {
    width: 100%;
}

.row > .colpesan > .box p {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
}

.row > .colpesan > .box button {
    width: 95%;
    height: 135px;
    background: #dddddd;
    color: black;
    border-radius: 35px;
    font-size: 42px;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'comic sans ms';|
    position: relative;
    box-shadow: 0 3px 10px #c4c4c4;
    border: 2px solid #c4c4c4;
}

.row > .colpesan > .box button:hover {
    position: relative;
    top: -10px;
    width: 99%;
    background-color: white;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.col4 > .box > .namapesan {
    text-align: right;
    color: black;
    font-weight: 900;
}

.col4 > .box p { 
    text-align: center;
}

.row > .colvideo  {
    width: calc(100% - 30px);
    margin: 3% 5% 3%;
}

.row > .colvideo video {
    width: 100%;
}

/* about */

.row .about {
    width: 100%;
}


.row .about h3 {
    font-size: 8vw;
    background: url(tes.jpg);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px rgba(0, 0, 0, 0.74);
    -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.64));
    line-height: 150px;
    color: rgba(40, 40, 40, 0.64);
    margin: 2% 0;
    margin-bottom: 8%;
    font-weight: 900;
    letter-spacing: 7px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    padding-left: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.5vw;
    width: 18%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -160%);
    transition: all 0.15s ease-in-out;
}

input[type="radio"]:checked + label {
    background-color: #F0F0F0;
    border-bottom: 3px solid #00FBFF;
    
}

#aboutsembunyi {
    visibility: hidden;
    display: block;
}

#aboutsembunyi2 {
    display: none;
    visibility: hidden;
}

#about1 {
    width: 1100px;
    overflow: hidden;
    height: auto;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transition: all 500ms ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#about2 {
    width: 1100px;
    overflow: hidden;
    height: auto;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    transition: all 500ms ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}


#showDivYes1:checked ~ #about1 {
    animation-name: slideFromRight;
}

#showDivYes1:checked ~ #about2 {
    animation-name: slideFromLeft;
}

#showDivYes2:checked ~ #about2 {
    animation-name: slideFromRight;
}

#showDivYes2:checked ~ #aboutsembunyi {
    display: none;
}

#showDivYes2:checked ~ #aboutsembunyi2 {
    display: block;
}

#showDivYes2:checked ~ #about1 {
    animation-name: slideFromLeft;
}

#showDivYes1:checked ~ #about2 {
    opacity: 0
}

#showDivYes2:checked ~ #about1 {
    opacity: 0;   
}

@keyframes slideFromRight {
  from {
    left: 100%;
  }
  to {
    left: 50%;
  }
}

@keyframes slideFromLeft {
  from {
    left: 50%;
  }
  to {
    left: -50%;
  }
}

/* best */

.best > .row > .col5 {
    width: 50%;
}

.best > .row > .col5 h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
}

.best > .row > .col5 img {
    width: 93%;
    box-shadow: 0px 2px 10px 1px #adadad;
}

.best > .row > .col6 {
    width: 50%;
}

.best > .row > .col6 h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
}

.best > .row > .col6 img {
    width: 93%;
    box-shadow: 0px 2px 10px 1px #adadad;
}


.best > .row > .col5 button {
    width: 85%;
    height: 87%;
    margin: 7.5%;
    transition: all 0.33s ease-in-out;
}

.best > .row > .col5 button:hover {
    width: 97%;
    margin-right: 1.5%;
    margin-left: 1.5%;;
}

.best > .row > .col5 button:hover .hidetext {
    display: block;
    color: black;
}

.best > .row > .col6 button:hover .hidetext {
    display: block;
    color: black;
}

.best > .row > .col6 button {
    width: 85%;
    height: 87%;
    margin: 7.5%;
    transition: all 0.33s ease-in-out;
}

.best > .row > .col6 button:hover {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.hidetext {
    display: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

/* grad */

.grad {
    background-color: #F0F0F0;
    width: 100%;
}

.grad > .row h3 {
    margin: 0;
    font-family: serif;
    text-transform: uppercase;
    font-weight: 550;
    letter-spacing: 5px;
    margin-bottom: 4%;
    font-size: 4vw;
}

.grad > .row > .col1 {
    width: 40%;
    min-height: 44%;
    box-shadow: 0px 0px 10px 2px gray;
    transition: all 0.13s ease-in-out;
    background-color: white;
}

.grad > .row > .col1 img {
    width: 90%;
    margin: 5%;
    margin-bottom: 0
}

.grad > .row > .col1 h2 {
    color: black;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    margin-top: 7.5%;
}

.grad > .row > .col2 {
    width: 50%;
    height: 44%;
    margin: auto;
    margin-right: 0;
    padding-top: 0;
    
}

.grad > .row > .col2 button {
    width: 50%;
    margin: 2.2% 25%;
    padding: 3.5% 12.55%;
    font-size: 1.9vw;
}

/* special */

.special {
    background-color: white;
    box-shadow: 0px 0px 10px 2px gray;
    border-radius: 2%;
}

.special > .row > .col1 {
    width: 45%;
    margin: 5% 2.5% 2.5%;
    box-shadow: 0px 0px 10px 2px gray;
    transition: all 0.13s ease-in-out;
}

.special > .row > .col1:hover {
    width: 48%;
    margin: 2% 1%;
}

.special > .row > .col1 img {
    width: 90%;
    margin: 5%;
    margin-bottom: 0
}

.special > .row > .col1 h2 {
    color: black;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
    margin-top: 2.5%;
}

.special > .row > .col2 {
    width: 48.5%;
    padding: .5%;
    margin-top: 6%;
}

.coltextexpandphoto {
    width: 50%;
    transition: all .05s ease;
}

.coltextexpandvideo {
    width: 50%;
    transition: all .05s ease;
}

.coltextexpandphoto p {
    font-size: 25px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    color: gray;
    text-align: center;
    padding: 0;
    margin: 0;
}

.coltextexpandvideo p {
    font-size: 25px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    color: gray;
    text-align: center;
    padding: 0;
    margin: 0;
}

.tombolexpandphoto {
    height: 40px;
    width: 50%;
    font-size: 20px;
    background-color: white;
    border-radius: 15px; 
    cursor: pointer;
    margin: auto;
}

.tombolexpandvideo {
    height: 40px;
    width: 50%;
    font-size: 20px;
    background-color: white;
    border-radius: 15px; 
    cursor: pointer;
    margin: auto;
    margin-top: 0;
}

.tombolexpandphoto:checked ~ .hidespecphoto {
    display: block;
    height: 100%;
}

.tombolexpandphoto:checked ~ .coltextexpandphoto {
    border-bottom: 5px solid black;
}

.tombolexpandvideo:checked ~ .hidespecvideo {
    display: block;
    height: 100%;
}

.tombolexpandvideo:checked ~ .coltextexpandvideo {
    border-bottom: 5px solid black;
}

/* hide special */

.hidespecphoto {
    display: none;
    margin: 0 1.9%;
    transition: all 5s ease;
    width: 100%;
}

.hidespecvideo {
    display: none;
    margin: 0 1.9%;
    transition: all 5s ease;
    width: 100%;
}

.row > .col1spec {
    width: 90%;
    box-shadow: -0px 2px 10px 0px gray;
    margin: 2% 5%; 
}

.row > .col1spec video {
    width: 95%;
    margin: 2.5%;
    margin-bottom: 0;
}

.row > .col1spec h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
    margin: 0;
    margin-bottom: 2%;
}

.row > .col2spec {
    width: 90%;
    box-shadow: -0px 2px 10px 0px gray;
    margin: 2% 5%;  
}

.row > .col2spec video {
    width: 95%;
    margin: 2.5%;
    margin-bottom: 0;
}

.row > .col2spec h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
    margin: 0;
    margin-bottom: 2%;
}

.kolom {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.kolom img {
    width: 150px;
    padding-right: 90px;
}

.kolom h2 {
    letter-spacing: 10px;
    font-weight: 800;
    font-size: 45px;
    line-height: 25px;
    text-align: center;
    color: black;
    margin-top: 25px;
    font-family: "Segoe UI",Arial,sans-serif;
}

h2 {
    text-align: center;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

p {
    font-weight:    900;
    margin: 5px 10px 5px 11px;
    padding: 10px 0px 10px 0px;
}

p1 {
    font-weight: 900;
    margin: 5px 10px 5px 11px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 25%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px gray;
}

.kartu-tutor .walas{
    padding-top: 10%;
}

.kartu-tutor .walas:hover{
    margin: 0;
}

.kartu-tutor > .walas img:hover {
    width: 10%;
    transition: width 0.2s ease-in-out;
}
    
.kartu-tutor .walas {
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}   

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #364f6b;
}

.kartu-tutorwalas {
    margin: 0 auto;
    width: 30%;
}

.kartu-tutorwalas img {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px gray;
}

.kartu-tutorwalas .walas{
    padding-top: 10%;
}

.kartu-tutorwalas .walas:hover{
    margin: 0;
}

.kartu-tutorwalas > .walas img:hover {
    width: 90%;
    transition: width 0.2s ease-in-out;
}
    
.kartu-tutorwalas .walas {
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}   

.kartu-tutorwalas p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 15%;
    margin: 0 auto;
}

.video-partner {
    width: 500px;
    margin-top: 10px;
    padding: 25px;
}

.kartu-partner img {
    width: 180px;
    border: 3px solid black;
    max-height: 240px;
}

.galeriimg {
    width: 1100px;
}

.pot {
    padding-left: 5px;
}

.pot img {
    border: 3px solid black;
    width: 11.55%;
    margin: inherit;
}

.sca {
    padding-left: 7px;
}

.sca img {
    border: 3px solid black;
    width: 24%;
    margin: inherit;
}


#contact {
    background: #181818;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 40%;
    margin: 0 auto;
}

.footer-section h3 {
    color: white;
}

.footer-section p {
    color: white;
}

.footer-section img {
    width: 100px;
    margin: 15px;
}

.tombolabout {
    margin-top: 25px;
    background: #43B3E0;
    font-size: 30px;
    padding: 20px 60px 20px 60px;
    border-radius: 15px;
    border: 2px solid #d3d3d3;
    text-align: center;
    color: white;
    font-family: 'comic sans ms';
    box-shadow: 0px 0px 5px 1px #d3d3d3;
    text-shadow: 2px 2px 4px black;
    cursor: pointer;
}

.tombolabout:hover {
    background: #3797af;
    transition: background .2s ease-in-out;
}

.tombolgaleri {
    background: white;
    color: black;
    border-radius: 30px;
    width: 450px;
    height: 190px;
    font-size: 60px;
    text-align: center;
    font-family: 'comic sans ms';
    
}

.tombolpesan {  
    background: white;
    color: black;
    border-radius: 30px;
    width: 450px;
    height: 190px;
    font-size: 45px;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'comic sans ms';|
    position: relative;
}

.tombolig {
    border-radius: 20px;
    background: gray;
    border: 1px solid #2c2c2c;
    margin: 1px 15px 1px;
    position: relative;
    cursor: pointer;
}

.tombolig:hover {
    top: -10px;
    background-color: #d3d3d3;
    transition: background-color .2s ease-in-out;
}

.tombolig img {
    width: 50px
}

.box {
    background: white;
    box-sizing: border-box;
    margin: 9px 12px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: auto;
    
}

.row > .col4> .box p {
    margin: 13px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

h5 {
    font-size: 30px;
    color: black;
    font-weight: 1200;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 60px;
    padding: 10px;
    border-bottom: 10px solid black;
    font-weight: bolder;
    font-family: 'comic sans ms';
}

.galerikepala {
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
}

#copyright {
    color: white;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

img.spec {
    border: 5px solid black;    
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

/* untuk slide an */

.carousel-wrapper {
    height: 585px;
    position: relative;
    width: 1040px;
    display: block;
    margin: 50px auto ;
    border: 8px solid black;
    box-shadow: -0px 2px 10px 3px gray;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow {
    width: 15px;
    height: 15px;
    border: solid #959595;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('photo/spec/spec1/spec%20(1).jpg');
    background-size: cover;
}
.item-2 {
    background: url('photo/spec/spec1/spec%20(2).jpg');
    background-size: cover;
}
.item-3 {
    background: url('photo/spec/spec1/spec%20(3).jpg');
    background-size: cover;
}
.item-4 {
    background: url('photo/spec/spec1/spec%20(4).jpg');
    background-size: cover;
}
.item-5 {
    background: url('photo/spec/spec1/spec%20(5).jpg');
    background-size: cover;
}
.item-6 {
    background: url('photo/spec/spec1/spec%20(6).jpg');
    background-size: cover;
}
.item-7 {
    background: url('photo/spec/spec1/spec%20(7).jpg');
    background-size: cover;
}
.item-8 {
    background: url('photo/spec/spec1/spec%20(8).jpg');
    background-size: cover;
}
.item-9 {
    z-index: 2;
    opacity: 1;
    background: url('photo/spec/spec2/spec1.jpeg');
    background-size: cover;
}
.item-10 {
    background: url('photo/spec/spec2/spec2.jpg');
    background-size: cover;
}
.item-11 {
    background: url('photo/spec/spec2/spec3.jpeg');
    background-size: cover;
}
.item-12 {
    background: url('photo/spec/spec2/spec4.jpeg');
    background-size: cover;
}
.item-13 {
    background: url('photo/spec/spec2/spec5.jpeg');
    background-size: cover;
}
.item-14 {
    background: url('photo/spec/spec2/spec6.jpg');
    background-size: cover;
}
.item-15 {
    background: url('photo/spec/spec2/spec7.jpg');
    background-size: cover;
}

*:target ~ .item-1 {
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;
}

*:target ~ .item-9 {
    opacity: 0;
}
#item-9:target ~ .item-9 {
    opacity: 1;
}

#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7, #item-8:target ~ .item-8 {
    z-index: 3;
    opacity: 1;
}

#item-10:target ~ .item-10, #item-11:target ~ .item-11, #item-12:target ~ .item-12, #item-13:target ~ .item-13, #item-14:target ~ .item-14, #item-15:target ~ .item-15 {
    z-index: 3;
    opacity: 1;  
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 96%;
    }

    .wrappernav {
        width: 96.5%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .utama {
        width: 100%;
        height: calc(100vh - 59px);
        background-image: url(witho.jpg);
    }

    .utama h2 {
        top: calc(50% - 60px);
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #212121;
        position: relative;
        max-width: 75%;
        width: 550px;
        padding: 15px 0;
        font-family: sans-serif;
        color: #212121;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 2.8em;
        box-shadow: -0px 3px 10px 0px #B0B0B0;
    }

    .utama p {
        top: calc(50% - 82px);
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        max-width: 75%;
        width: 85%;
        padding: 15px 0;
        font-family: sans-serif;
        color: #212121;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 0.9em;
        text-align: center;
    }

    
    .logo a {
        font-size: 40px;
        display: block;
        width: auto;
        text-align: left; 
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }
    

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .row > .col1 {
        width: 100%;
    }

    .row > .col1 img {
        width: 40%;
        margin: 0 auto;
        align-self: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .row > .col2 {
        width: 100%;
    }

    .row > .col2 > h2 {
        text-align: center;
        color: black;
        margin-top: 10px;
    }

    .row > .col2 > h3 {
        font-size: 35px;
        text-align: center;
        color: black;
        margin-top: 10px;
    }


    .row > .col2 > p {
        font-size: 18-px;
        text-align: center;
        color: black;
        margin-top: 10px;
    }

    .row > .col3 {
        width: 100%;
    }

    .row > .col3 img {
        width: 99%;
    }

    .row > .col4 {
        width: 100%;
    }

    .row > .col5 {
        width: 100%;
        margin: 8%;
    }

    .row > .col5:hover {
        margin: 5%;
    }

    .row > .col6 {
        width: 100%;
        margin: 8%;
    } 

    .row > .col6:hover {
        margin: 5%;
    }

    .row > .col7 {
        width: 100%;
        margin: 8%;
    }
    .row > .col7:hover {
        margin: 5%;
    }

    .row > .colpesan {
        width: 100%;
        margin: 0;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .galeriimg {
        width: 100%;
    }
    
    .pot {
        padding-left: 0px;
    }

    .pot img {
        width: 22.5%;
        margin: inherit;
    }
    
    .sca {
        padding-left: 0px;
    }

    .sca img {
        width: 48%;
        margin: inherit;
    }

    h4 {
        font-size: 40px;
        padding: 10px;
        border-bottom: 10px solid black;
        font-weight: bolder;
        font-family: 'comic sans ms';
    }

    h2 {
        font-family: 'comic sans ms';
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 20px;
        color: #364f6b;
        width: 100%;
        line-height: 50px;
    }

    .galerikepala {
        padding-bottom: 30px;
        padding-left: 25%;
        padding-right: 25%;
    }

    .row > .col2 button {
        margin-top: 10px;
        width: 100%;
    }

    .tombolgaleri {
        background: white;
        color: black;
        border-radius: 30px;
        width: 40%;
        height: 190px;
        font-size: 30px;
        text-align: center;
        font-family: 'comic sans ms';
    }

    .tombolpesan {  
        background: white;
        color: black;
        border-radius: 30px;
        width: 40%;
        height: 190px;
        font-size: 30px;
        text-align: center;
        align-content: center;
        align-items: center;
        font-family: 'comic sans ms';  
    }

    .carousel-wrapper {
        max-height: 420px;
        position: relative;
        width: 93%;
        display: block;
        margin: 10px auto ;
        border: 6px solid black;
        overflow: hidden;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .item-9 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .row > .col4 p {
        text-align: left;
        margin-top: 10px;
    }

    .row > .col4 h2 {
        text-align: left;
        margin-top: 10px;
        margin-left: 4px;
    }

    .row h3 {
        font-size: calc(6vw + 0.72em);
    }

    .row > .colpesan > .box button {
        width: 95%;
        height: 100px;
        background: #dddddd;
        color: black;
        border-radius: 35px;
        font-size: 27px;
        text-align: center;
        align-content: center;
        align-items: center;
        font-family: 'comic sans ms';|
        position: relative;
        box-shadow: 0 3px 10px #c4c4c4;
        border: 2px solid #c4c4c4;
    }

    /* about */

    .row .about h3 {
        font-size: calc(6.8vw + 3em);
        color: rgba(40, 40, 40, 0.64);
        margin: 10% 0;
        margin-bottom: 13%;
        font-weight: 850;
        letter-spacing: 5px;
        line-height: 100px;
    }


    input[type="radio"] + label {
        display: inline-block;
        cursor: pointer;
        padding: 10px 60px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 3.2vw;
        width: 20%;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -170%);
        transition: all 0.15s ease-in-out;
    }

    input[type="radio"]:checked + label {
        background-color: #F0F0F0;
        border-bottom: 2.5px solid #00FBFF;
    }

    #about1 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 500ms ease;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    #about2 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 500ms ease;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    /* best */
    
    .best > .row > .col5 {
        margin: 0;
    }

    .best > .row > .col5 img {
        margin: 5px;
    }

    .best > .row > .col6 {
        margin: 0;
    }
    
    .best > .row > .col6 img {
        margin: 5px;
    }

    .best > .row > .col5 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .best > .row > .col6 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .hidetext {
        font-size: 11px;
    }

    .special > .row > .col1 h2 {
        font-size: calc(1vw + 1em);     
    }
    
    .special > .row > .col2 p {
        font-size: calc(1vw + 0.5em);
    }

    .grad > .row h3 {
        margin: 0;
        font-family: serif;
        text-transform: uppercase;
        font-weight: 550;
        letter-spacing: 5px;
        margin-bottom: 4%;
        font-size: calc(5vw + 0.62em);
    }

    .grad > .row > .col1 {
        width: 45%;
        min-height: 46%;
        box-shadow: 0px 0px 10px 2px gray;
        transition: all 0.13s ease-in-out;
        background-color: white;
    }

    .grad > .row > .col1 h2 {
        font-size: calc(1vw + 1em);     
    }
    
    .grad > .row > .col2 p {
        font-size: calc(1vw + 0.4em);
        text-align: left;
    }

    .grad > .row > .col2 button {
        width: 50%;
        margin: 1.8% 25%;
        padding: 2.5% 11.55%;
        font-size: 3.9vw;
    }


    .tombolexpand {
        font-size: calc(1vw + 0.5em);
    }

    .tombolexpand:focus {
        font-size: calc(1vw + 0.51em);
        text-decoration: underline;
    }

    .row > .col1spec h3 {
        font-size: calc(1vw + 0.61em);
        line-height: 20px;
    }

    .row > .col2spec h3 {
        font-size: calc(1vw + 0.61em);
        line-height: 20px;
    }

    .coltextexpandphoto p {
        font-size: 3vw;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        color: gray;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .coltextexpandvideo p {
        font-size: 3vw;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 400;
        color: gray;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .tombolexpandphoto {
        height: 4.5vw;
        width: 50%;
        font-size: 20px;
        background-color: white;
        border-radius: 15px; 
        cursor: pointer;
        margin: auto;
    }

    .tombolexpandvideo {
        height: 4.5vw;
        width: 50%;
        font-size: 20px;
        background-color: white;
        border-radius: 15px; 
        cursor: pointer;
        margin: auto;
        margin-top: 0;
    }

    .tombolexpandphoto:checked ~ .coltextexpandphoto {
        border-bottom: 3px solid black;
    }

    .tombolexpandvideo:checked ~ .coltextexpandvideo {
        border-bottom: 3px solid black;
    }
}

@media screen and (max-width: 632.98px) {
    .wrapper {
        width: 90%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo a {
        font-size: 40px;
        display: block;
        width: auto;
        text-align: left;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .carousel-wrapper {
        max-height: 300px;
        position: relative;
        width: 93%;
        display: block;
        margin: 10px auto ;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .row > .col4 p {
        text-align: left;
        margin-top: 10px;
    }

    .row > .col4 h2 {
        text-align: left;
        margin-top: 10px;
        margin-left: 4px;
    }

    .special > .row > .col1 h2 {
        font-size: calc(1vw + 0.7em);
        line-height: 15px;
    }

    .special > .row > .col2 p {
        font-size: calc(0.6vw + 0.4em);
        padding: 5px;
        margin: 5px;
    }

    .grad > .row > .col1 h2 {
        font-size: calc(1vw + 0.7em);
    }

    .grad > .row > .col2 p {
        font-size: calc(0.6vw + 0.4em);
        padding: 2px;
        margin: 2px;
    }

    .row .about h3 {
        font-size: calc(5.4vw + 3em);
        color: rgba(40, 40, 40, 0.64);
        margin: 10% 0;
        margin-bottom: 13%;
        font-weight: 850;
        letter-spacing: 5px;
        line-height: 100px;
    }

    #about1 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 500ms ease;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

    #about2 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 500ms ease;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }

}

@media screen and (max-width: 582.98px) {
    .wrapper {
        width: 90%;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo a {
        font-size: 38px;
        display: block;
        width: auto;
        text-align: center;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }

    #top {
        background-color: #F0F0F0;
        padding: 2em 0 2em 0;
        text-align: left;
        box-shadow: -0px 2px 10px 0px gray;
    }

    #top2 {
        padding: 2em 0 2em 0;
        text-align: left;
        box-shadow: -0px 2px 10px 0px #adadad;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .carousel-wrapper {
        max-height: 290px;
        position: relative;
        width: 93%;
        display: block;
        margin: 10px auto ;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    /* best */

    .best > .row > .col5 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .best > .row > .col6 h3 {
        font-size: 15px;
        line-height: 20px;
    }
}

@media screen and (max-width: 480.98px) {
    .wrapper {
        width: 90%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .container {
        max-width: 100%;
    }

    .dropdown .dropbtn .kebawah img {
        width: 30px;
        align-content: center;
        margin: 0;
        padding-top: 2.5px;
        padding-bottom: 2px;
    }

    .dropdown .dropbtn .kebawah {
        width: 90px;
        padding-top: 4px;
        cursor: pointer;
    }

    .dropdown-content a {
        width: 90px;
        background-color: rgba(0, 0, 0, 0.83);
        float: none;
        color: white;
        padding: 16px 0;
        text-decoration: none;
        display: block;
        text-align: center;
        cursor: pointer;
    }

    .kembali  {
        display: flex;
        font-size: 12px;
        height: 2em;
        width: 80px;
        margin: 10px 0px 5px auto;
        align-items: center;
        justify-content: center;
        border-radius: 7px;
        letter-spacing: 1px;
        transition: all 0.12s linear;
        cursor: pointer;
        border: none;
        background: #fff;
    }

    .utama {
        width: 100%;
        height: calc(100vh - 59px);
        background-image: url(eeeeepot.jpg);
        background-size: 100vw, 100vh;
        background-position: center;
    }

    .utama h2 {
        top: calc(50% - 60px);
        left: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #212121;
        position: relative;
        max-width: 75%;
        width: 550px;
        padding: 15px 0;
        font-family: sans-serif;
        color: #212121;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 8.5vw;
        box-shadow: -0px 3px 10px 0px #B0B0B0;
    }

    .utama p {
        top: calc(50% - 82px);
        left: 48%;
        transform: translate(-50%, -50%);
        position: relative;
        max-width: 80%;
        padding: 15px 0;
        font-family: sans-serif;
        color: #212121;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-size: 0.84em;
        text-align: center;
    }
    
    .logo a {
        font-size: 30px;
        line-height: 45px;
        max-height: 40px;
        display: block;
        width: auto;
        text-align: center;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .pot {
        padding-left: 0px;
    }

    .pot img {
        width: 22%;
        margin: inherit;
    }
    
    .sca {
        padding-left: 0px;
    }

    .sca img {
        width: 47%;
        margin: inherit;
    }

    .carousel-wrapper {
        max-height: 185px;
        position: relative;
        width: 93%;
        display: block;
        margin: 10px auto ;
        margin-bottom: 20px;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .tombolig {
        border-radius: 20px;
        background: gray;
        border: 1px solid gray;
    }

    .tombolig img {
        width: 35px
    }

    .row > .col5 button h3{
        font-size: 7vw;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col6 button h3{
        font-size: 7vw;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col7 button h3{
        font-size: 7vw;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col5 button p{
        font-size: 3.1vw;
        margin: 0;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col6 button p{
        font-size: 3.1vw;
        margin: 0;
        margin-top: 3px;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col7 button p{
        font-size: 3.1vw;
        margin: 0;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col4 p {
        font-size: 15px;
        text-align: left;
        margin-top: 10px;
    }

    .special > .row > .col1 h2 {
        font-size: calc(1vw + 0.44em);
        line-height: 10px;
        margin: 8% 0;
    }

    .special > .row > .col2 p {
        font-size: calc(1vw + 0.21em);
        padding: 2.5px;
        margin: 2.5px;
    }

    .grad > .row > .col1 {
        width: 74%;
        margin: 2% 13%;
        min-height: 44%;
        box-shadow: 0px 0px 10px 2px gray;
        transition: all 0.13s ease-in-out;
        background-color: white;
    }

    .grad > .row > .col1 img {
        width: 90%;
        margin: 5%;
        margin-bottom: 0
    }

    .grad > .row > .col1 h2 {
        color: black;
        font-family: sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        text-align: center;
        line-height: 35px;
        font-weight: 700;
        margin-top: 7.5%;
    }

    .grad > .row > .col2 {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-right: 0;
        padding-top: 0;

    }

    .grad > .row > .col2 button {
        width: 50%;
        margin: 2.2% 25%;
        padding: 3.5% 12.55%;
        font-size: 1.9vw;
    }

    .grad > .row > .col1 h2 {
        font-size: calc(1vw + 0.67em);
        color: #505050;
        line-height: 10px;
        margin-top: 10%;
    }

    .grad > .row > .col2 p {
        font-size: calc(2vw + 0.31em);
        padding: 1.5px;
        margin: 1.5px;
        font-weight: 900;
        text-align: center;
    }

    .grad > .row > .col2 button {
        border-radius: 15px;
        font-size: 5vw;
    }

    input[type="radio"] + label {
        display: inline-block;
        cursor: pointer;
        padding: 10px 40px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: 3.6vw;
        width: 18%;
        position: relative;
        top: 50%;
        left: 49%;
        transform: translate(-100%, -172%);
        transition: all 0.15s ease-in-out;
    }


    .row .about h3 {
        font-size: calc(8vw + 3em);
        color: rgba(40, 40, 40, 0.64);
        -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.54));
        margin-top: 1%;
        margin-bottom: 7%;
        font-weight: 1000;
        letter-spacing: 5px;
        line-height: 80px;
    }
    
    #about1 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 250ms ease;
        animation-duration: 550ms;
        animation-fill-mode: forwards;
    }

    #about2 {
        width: 90%;
        overflow: hidden;
        height: auto;
        opacity: 1;
        position: absolute;
        top: 43%;
        left: 50%;
        transform: translate(-80%, -80%);
        transform: translateX(-50%);
        transition: all 250ms ease;
        animation-duration: 550ms;
        animation-fill-mode: forwards;
    }

}



