* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

html {
    width: -webkit-fill-available;
    width: 100%;
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans',sans-serif;
    background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
    min-height: 100vh;
    min-width: 100vw;
    width: -webkit-fill-available;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.video {
    align-content: center;
    width: 100%;
}

.wrapper video {
    align-content: center;
    width: 100%;
    border: 6px solid black;
    
}

.container {
    width: 1100px;
    margin: 0 auto;
    max-width: calc(100% - 50px);
}

img {
    margin: auto;
    width: 1110px;
    margin-top: 15px;
}

.logo a {
    margin-top: 10px
    margin-bottom: 15px;
    font-size: 45px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: white;
}

.logo img {
    width: 150px
}

.menu {
    float: right;
}

#top {
    background-color: white;
    padding: 3em 0 3em 0;
    text-align: left;
    box-shadow: -0px 2px 10px 0px gray;
}

#top2 {
    padding: 3em 0 3em 0;
    text-align: left;
    box-shadow: -0px 2px 10px 0px #adadad;
    padding-bottom: 25px;
}

#artabout {
    background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
    text-align: left;
    box-shadow: 0px 1px 10px 0px gray inset;
}

.row h3 {
    font-size: 50px;
    color: black;
    margin-top: 25px;
    font-family: "Segoe UI",Arial,sans-serif;
}

.row > .col1 {
    width: 33%;
}

.row > .col1 img {
    width: 90%;
}

.row > .col2 {
    width: 66%;
    padding-top: 20px;
}

.row > .col2 > h2 {
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col2 > h3 {
    font-size: 50px;
    text-align: left;
    color: black;
    margin-top: 50px;
}

.row > .col2 > p {
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

.row > .col3 {
    width: 50%;
}

.row > .col3 img {
    width: 95%;
}

.row > .col4 {
    width: 50%;
    padding-top: 5px;
}

.row > .col4  h2 {
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col4  h3 {
    font-size: 50px;
    text-align: left;
    color: black;
    margin-top: 50px;
}

.row > .col4  p {
    font-size: 20px;
    text-align: left;
    color: black;
    margin-top: 30px;
}

.row > .col5 {
    width: 33%;
}

.row > .col6 {
    width: 33%;
}

.row > .col7 {
    width: 33%;
}

.row > .col5 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col6 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col7 button h3{
    font-size: 35px;
    margin-top: 5px;
    margin-bottom: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 750;
}

.row > .col5 button p{
    font-size: 15px;
    margin: 0;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col6 button p{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col7 button p{
    font-size: 15px;
    margin: 0;
    font-style: italic;
    color: #4f4f4f;
}

.row > .col5 button {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col5 button:hover {
    top: -15px;
    width: 96%;
}

.row > .col6 button:hover {
    top: -15px;
    width: 101%;
}

.row > .col7 button:hover {
    top: -15px;
    width: 96%;
}

.row > .col6 button {
    width: 100%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col7 button {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    background-color: white;
    border: 2px solid #c4c4c4;
    box-shadow: 0 3px 10px #c4c4c4;
    position: relative;
    cursor: pointer;
}

.row > .col5 img {
    width: 100%;
}

.row > .col6 img {
    width: 100%;
}

.row > .col7 img {
    width: 100%;
}

.row > .colpesan {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.row > .colpesan img {
    width: 100%;
}

.row > .colpesan > .box p {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
}

.row > .colpesan > .box button {
    width: 95%;
    height: 135px;
    background: #dddddd;
    color: black;
    border-radius: 35px;
    font-size: 42px;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'comic sans ms';|
    position: relative;
    box-shadow: 0 3px 10px #c4c4c4;
    border: 2px solid #c4c4c4;
}

.row > .colpesan > .box button:hover {
    position: relative;
    top: -10px;
    width: 99%;
    background-color: white;
    transition: background-color .2s ease-in-out;
}

.row > .colvideo  {
    width: calc(100% - 30px);
    margin: 3% 5% 3%;
}

.row > .colvideo video {
    width: 100%;
}

/* best */

.best > .row > .col5 {
    width: 50%;
}

.best > .row > .col5 h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
}

.best > .row > .col5 img {
    width: 93%;
    box-shadow: 0px 2px 10px 1px #adadad;
}

.best > .row > .col6 {
    width: 50%;
}

.best > .row > .col6 h3 {
    font-size: 25px;
    color: gray;
    font-weight: 580;
}

.best > .row > .col6 img {
    width: 93%;
    box-shadow: 0px 2px 10px 1px #adadad;
}


.best > .row > .col5 button {
    width: 85%;
    height: 87%;
    margin: 7.5%;
}

.best > .row > .col5 button:hover {
    width: 97%;
    margin-right: 1.5%;
    margin-left: 1.5%;
    transition: all 0.33s ease-in-out;
}

.best > .row > .col5 button:hover .hidetext {
    display: block;
    color: black;
}

.best > .row > .col6 button:hover .hidetext {
    display: block;
    color: black;
}

.best > .row > .col6 button {
    width: 85%;
    height: 87%;
    margin: 7.5%;
}

.best > .row > .col6 button:hover {
    width: 97%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    transition: all 0.33s ease-in-out;
}

.hidetext {
    display: none;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}

nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 50px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #181818;
    z-index: 5;
    box-shadow: 2px 2px 50px 5px white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    font-size: 23px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #393939;
    transition: background-color .3s ease-in-out;
}

.kolom {
    margin-top: 25px;
    margin-bottom: 25px;
}

.kolom img {
    width: 150px;
    padding-right: 90px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: #364f6b;
    margin-right: 15px;
    margin-left: 15px;
}

h2 {
    text-align: center;
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    font-weight: 900;
    margin: 5px 10px 5px 11px;
    padding: 10px 0px 10px 0px;
}

p1 {
    font-weight: 900;
    margin: 5px 10px 5px 11px;
    padding: 10px 0px 10px 0px;
}

.tengah {
    text-align: center;
    width: 100%;
}

.tutor-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-tutor {
    width: 25%;
    margin: 0 auto;
}

.kartu-tutor img {
    width: 80%;
    border-radius: 50%;
}

.kartu-tutor p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 15px;
    text-align: center;
    color: #364f6b;
}

.partner-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.kartu-partner {
    width: 15%;
    margin: 0 auto;
}

.video-partner {
    width: 500px;
    margin-top: 10px;
    padding: 25px;
}

.kartu-partner img {
    width: 180px;
    border: 3px solid black;
    max-height: 240px;
}

.galeriimg {
    width: 1100px;
}

.pot {
    padding-left: 5px;
}

.pot img {
    border: 3px solid black;
    width: 11.55%;
    margin: inherit;
}

.sca {
    padding-left: 7px;
}

.sca img {
    border: 3px solid black;
    width: 24%;
    margin: inherit;
}


#contact {
    background: #181818;
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 40%;
    margin: 0 auto;
}

.footer-section h3 {
    color: white;
}

.footer-section p {
    color: white;
}

.footer-section img {
    width: 100px;
    margin: 15px;
}

.tombolabout {
    margin-top: 25px;
    background: #43B3E0;
    font-size: 30px;
    padding: 20px 50px 20px 50px;
    border-radius: 15px;
    border: 2px solid #d3d3d3;
    text-align: center;
    color: white;
    font-family: 'comic sans ms';
    box-shadow: 0px 0px 5px 1px #d3d3d3;
    text-shadow: 2px 2px 4px black;
}

.tombolabout:hover {
    background: #3797af;
    transition: background .2s ease-in-out;
}

.tombolgaleri {
    background: white;
    color: black;
    border-radius: 30px;
    width: 450px;
    height: 190px;
    font-size: 60px;
    text-align: center;
    font-family: 'comic sans ms';
    
}

.tombolpesan {  
    background: white;
    color: black;
    border-radius: 30px;
    width: 450px;
    height: 190px;
    font-size: 45px;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'comic sans ms';|
    position: relative;
}

.tombolig {
    border-radius: 20px;
    background: gray;
    border: 1px solid #2c2c2c;
    margin: 1px 15px 1px;
    position: relative;
    cursor: pointer;
}

.tombolig:hover {
    top: -10px;
    background-color: #d3d3d3;
    transition: background-color .2s ease-in-out;
}

.tombolig img {
    width: 50px
}

.box {
    background: white;
    box-sizing: border-box;
    margin: 9px 12px;
    padding: 10px 20px;
    width: calc(100% - 40px);
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: auto;
    
}

.row > .col4> .box p {
    margin: 13px;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

h5 {
    font-size: 30px;
    color: black;
    font-weight: 1200;
    padding-top: 20px;
    padding-bottom: 20px;
}

h4 {
    font-size: 60px;
    padding: 10px;
    border-bottom: 10px solid black;
    font-weight: bolder;
    font-family: 'comic sans ms';
}

.galerikepala {
    padding-bottom: 30px;
    padding-left: 300px;
    padding-right: 300px;
}

#copyright {
    color: white;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

img.spec {
    border: 5px solid black;    
}

.icon.brands:before {
    font-family: 'Font Awesome 5 Brands';
}

/* untuk slide an */

.carousel-wrapper {
    height: 585px;
    position: relative;
    width: 1040px;
    display: block;
    margin: 50px auto ;
    border: 8px solid black;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.arrow {
    width: 15px;
    height: 15px;
    border: solid #959595;
    border-width: 0 15px 15px 0;
    display: inline-block;
    padding: 12px;
}
.arrow-prev {
    left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
    right: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
    display: none;
}
.item-1 {
    z-index: 2;
    opacity: 1;
    background: url('photo/spec/spec1/spec%20(1).jpg');
    background-size: cover;
}
.item-2 {
    background: url('photo/spec/spec1/spec%20(2).jpg');
    background-size: cover;
}
.item-3 {
    background: url('photo/spec/spec1/spec%20(3).jpg');
    background-size: cover;
}
.item-4 {
    background: url('photo/spec/spec1/spec%20(4).jpg');
    background-size: cover;
}
.item-5 {
    background: url('photo/spec/spec1/spec%20(5).jpg');
    background-size: cover;
}
.item-6 {
    background: url('photo/spec/spec1/spec%20(6).jpg');
    background-size: cover;
}
.item-7 {
    background: url('photo/spec/spec1/spec%20(7).jpg');
    background-size: cover;
}
.item-8 {
    background: url('photo/spec/spec1/spec%20(8).jpg');
    background-size: cover;
}

*:target ~ .item-1{
    opacity: 0;
}
#item-1:target ~ .item-1 {
    opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5, #item-6:target ~ .item-6, #item-7:target ~ .item-7, #item-8:target ~ .item-8 {
    z-index: 3;
    opacity: 1;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }
    
    .logo a {
        font-size: 40px;
        display: block;
        width: 100%;
        text-align: center; 
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }
    
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 35px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .row > .col1 {
        width: 100%;
    }

    .row > .col1 img {
        width: 40%;
        margin: 0 auto;
        align-self: center;
        margin-left: 30%;
        margin-right: 30%;
    }

    .row > .col2 {
        width: 100%;
    }

    .row > .col2 > h2 {
        text-align: center;
        color: black;
        margin-top: 10px;
    }

    .row > .col2 > h3 {
        font-size: 35px;
        text-align: center;
        color: black;
        margin-top: 10px;
    }


    .row > .col2 > p {
        font-size: 18-px;
        text-align: center;
        color: black;
        margin-top: 10px;
    }

    .row > .col3 {
        width: 100%;
    }

    .row > .col3 img {
        width: 99%;
    }

    .row > .col4 {
        width: 100%;
    }

    .row > .col5 {
        width: 100%;
        margin: 8%;
    }

    .row > .col5:hover {
        margin: 5%;
    }

    .row > .col6 {
        width: 100%;
        margin: 8%;
    } 

    .row > .col6:hover {
        margin: 5%;
    }

    .row > .col7 {
        width: 100%;
        margin: 8%;
    }
    .row > .col7:hover {
        margin: 5%;
    }

    .row > .colpesan {
        width: 100%;
        margin: 0;
    }

    .kartu-tutor {
        width: 25%;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .galeriimg {
        width: 100%;
    }
    
    .pot {
        padding-left: 0px;
    }

    .pot img {
        width: 22.5%;
        margin: inherit;
    }
    
    .sca {
        padding-left: 0px;
    }

    .sca img {
        width: 48%;
        margin: inherit;
    }

    h4 {
        font-size: 40px;
        padding: 10px;
        border-bottom: 10px solid black;
        font-weight: bolder;
        font-family: 'comic sans ms';
    }

    h2 {
        font-family: 'comic sans ms';
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 20px;
        color: #364f6b;
        width: 100%;
        line-height: 50px;
    }

    .galerikepala {
        padding-bottom: 30px;
        padding-left: 25%;
        padding-right: 25%;
    }

    .row > .col2 button {
        margin-top: 10px;
        width: 100%;
    }

    .tombolgaleri {
        background: white;
        color: black;
        border-radius: 30px;
        width: 40%;
        height: 190px;
        font-size: 30px;
        text-align: center;
        font-family: 'comic sans ms';
    }

    .tombolpesan {  
        background: white;
        color: black;
        border-radius: 30px;
        width: 40%;
        height: 190px;
        font-size: 30px;
        text-align: center;
        align-content: center;
        align-items: center;
        font-family: 'comic sans ms';  
    }

    .carousel-wrapper {
        max-height: 307px;
        position: relative;
        max-width: 550px;
        display: block;
        margin: 50px auto ;
        border: 6px solid black;
        overflow: hidden;
    }

    .carousel-item {
        position: absolute-;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .row > .col4 p {
        text-align: left;
        margin-top: 10px;
    }

    .row > .col4 h2 {
        text-align: left;
        margin-top: 10px;
        margin-left: 4px;
    }

    .row > .colpesan > .box button {
        width: 95%;
        height: 100px;
        background: #dddddd;
        color: black;
        border-radius: 35px;
        font-size: 27px;
        text-align: center;
        align-content: center;
        align-items: center;
        font-family: 'comic sans ms';|
        position: relative;
        box-shadow: 0 3px 10px #c4c4c4;
        border: 2px solid #c4c4c4;
    }

    /* best */
    
    .best > .row > .col5 {
        margin: 0;
    }

    .best > .row > .col5 img {
        margin: 5px;
    }

    .best > .row > .col6 {
        margin: 0;
    }
    
    .best > .row > .col6 img {
        margin: 5px;
    }

    .best > .row > .col5 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .best > .row > .col6 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .hidetext {
        font-size: 11px;
    }
}

@media screen and (max-width: 632.98px) {
    .wrapper {
        width: 90%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo a {
        font-size: 40px;
        display: block;
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }
    
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 35px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 25%;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .carousel-wrapper {
        max-height: 280px;
        position: relative;
        max-width: 500px;
        display: block;
        margin: 50px auto ;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .row > .col4 p {
        text-align: left;
        margin-top: 10px;
    }

    .row > .col4 h2 {
        text-align: left;
        margin-top: 10px;
        margin-left: 4px;
    }

}

@media screen and (max-width: 582.98px) {
    .wrapper {
        width: 90%;
    }
    
    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo a {
        font-size: 38zpx;
        display: block;
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }
    
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 35px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 25%;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .carousel-wrapper {
        max-height: 225px;
        position: relative;
        max-width: 400px;
        display: block;
        margin: 50px auto ;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    /* best */

    .best > .row > .col5 h3 {
        font-size: 15px;
        line-height: 20px;
    }

    .best > .row > .col6 h3 {
        font-size: 15px;
        line-height: 20px;
    }
}

@media screen and (max-width: 480.98px) {
    .wrapper {
        width: 90%;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-family: 'Open Sans',sans-serif;
        background-image: url(https://i.postimg.cc/8cjRKYj8/gambar.png);
        min-height: 100vh;
        min-width: 100vw;
    }

    .logo a {
        font-size: 30px;
        line-height: 50px;
        max-height: 40px;
        display: block;
        width: 100%;
        text-align: center;
    }

    img {
        margin: auto;
        width: 640px;  
    }

    .wrapper video {
        align-content: center;
        width: 97%;
        border: 6px solid black;
    }

    nav {
        width: 100%;
    }
    
    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 40px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    nav ul li a {
        font-size: 16px;
        border-radius: 8px;
        color: white;
        font-weight: bolder;
        text-align: center;
        padding: 5px 9px 5px 9px;
        text-decoration: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .kartu-tutor {
        width: 25%;
    }

    .kartu-partner {
        width: 33%;
    }

    .kartu-partner img {
        width: 90%;
        max-height: 175px;
        border: 5px solid black;
    }

    .video-partner {
        padding-left: 20px;
        width: 100%;
        margin: 20px;
        max-height: 1000px;
    }

    .pot {
        padding-left: 0px;
    }

    .pot img {
        width: 22%;
        margin: inherit;
    }
    
    .sca {
        padding-left: 0px;
    }

    .sca img {
        width: 47%;
        margin: inherit;
    }

    .carousel-wrapper {
        max-height: 180px;
        position: relative;
        max-width: 320px;
        display: block;
        margin: 50px auto ;
        border: 6px solid black;
    }

    .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0px 10px;
        opacity: 0;
    }

    .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('photo/spec/spec1/spec%20(1).jpg');
        background-size: cover;
    }

    .arrow {
        width: 12px;
        height: 12px;
        border: solid #959595;
        border-width: 0 8px 8px 0;
        display: inline-block;
        padding: 8px;
    }
    .arrow-prev {
        left: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

    }
    .arrow-next {
        right: 15px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .tombolig {
        border-radius: 20px;
        background: gray;
        border: 1px solid gray;
    }

    .tombolig img {
        width: 35px
    }

    .row > .col5 button h3{
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col6 button h3{
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col7 button h3{
        font-size: 25px;
        margin-top: 5px;
        margin-bottom: 0px;
        font-family: "Segoe UI",Arial,sans-serif;
        font-weight: 750;
    }

    .row > .col5 button p{
        font-size: 12px;
        margin: 0;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col6 button p{
        font-size: 12px;
        margin: 0;
        margin-top: 3px;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col7 button p{
        font-size: 12px;
        margin: 0;
        font-style: italic;
        color: #4f4f4f;
        padding-top: 0;
    }

    .row > .col4 p {
        font-size: 15px;
        text-align: left;
        margin-top: 10px;
    }
}



